<nav class="navbar">
  <div class="navbar-brand">
    <!-- [routerLinkActiveOptions]="{exact: true}" : 정확한 경로 매칭-->
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      class="logo"
      >Angular + NestJS</a
    >
  </div>

  <ul class="nav-menu">
    <!-- *ngFor : menuItems 배열의 각 항목을 반복해서 메뉴 생성 -->
    <li *ngFor="let item of menuItems">
      <a
        [routerLink]="item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >{{ item.label }}</a
      >
    </li>
  </ul>
</nav>
